@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');

.App {
  text-align: center;
  width: 100%;
  height: 100vm;
  font-family: 'Noto Sans JP';
  font-size: 200px;
  font-weight: normal;
  color: black;
}


.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom right, red, yellow);
}


input {
  width: 60%;
  height: 56px;
  border-radius: 4px;
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  transition: 0.3s background-color ease-in-out, 0.3s box-shadow ease-in-out;
  background: white;
  margin-top: 50px;
  font-size: 20px;
}
